{% extends '_layout/authentication.twig' %}

{% block head_title %}
    {% trans %}
    404, page not found
    {% endtrans %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div id="latest-documents" class="col-lg-12">
            <h1>404, page not found</h1>
            <p>Oops, it seems you are on a wrong page :/</p>
        </div>
    </div>
{% endblock %}
